@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('../font/Miama.ttf');
}


*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}



/*   shared styles   */


p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

button{ 
    cursor: pointer;
}

.sectionheader{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}








body{
    font-family: "Inter", sans-serif;
}



/*    header section   */

header{
    padding: 0px 20px;
    background: linear-gradient(180deg, rgba(17,17,17,1) 20%, rgba(42,42,42,1) 50%, rgba(17,17,17,1) 80%);
}




/*    nav section   */

nav{
    max-width: 1060px;
    padding-top: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

nav ul{
    display: flex;
    align-items: center;
    column-gap: 50px;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 4px 20px 4px 4px;
}

.menu{
    display: none;
}

nav a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}

.home a{
    font-weight: 600;
}





/*   banner section    */

.banner{
    max-width: 1060px;
    margin: auto;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannertext{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.bannertext h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: 900;
    line-height: 120%;
}

.bannertext span{
    font-family: 'Miama', sans-serif;
    font-size: 150px;
    font-weight: 400;
    line-height: 1px;
}

.bannertext p{
    font-size: 16px;
}

.join{
    padding: 16px 40px;
    margin-right: 14px;
    border-radius: 40px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.download{
    border: 1px solid rgb(255, 255, 255);
    background-color:transparent;
    margin-right: 0px;
}

.bannerimg{
    width: 42%;
    position: relative;
}

.bannerimg img{
    width: 90%;
}

.video{
    position: absolute;
    bottom: 15%;
    left: -20%;
    padding: 20px 23px;
    display: flex;
    column-gap: .7rem;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.redcircle{
    height: 40px;
    width: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.video h3{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.bannerimg p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.tutorial{
    position: absolute;
    top: 25%;
    right: 0%;
    padding: 20px 23px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.tutorial h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 40px;
}



/*   main  section   */

main{
    background: rgb(0, 0, 0);
    padding: 0px 20px;
}





/*   change section   */


.change{
    padding-top: 100px;
    max-width: 1060px;
    margin: 0px auto;

}

.change1{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 14px;
    margin: 0px auto 60px;
}

.change2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.change2 img{
    border: none;
    border-radius: 50%;
}

.change2 h2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0px 12px;
}

.change21 p{
    line-height: 22px;
}












@media screen and (max-width:576px) {
    nav{
        padding-top: 50px;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: inline-block;
        cursor: pointer;
    }
    nav i{
        color: white;
    }
    .banner{
        flex-direction: column;
        row-gap: 50px;
        margin-top: 50px;
    }
    .bannertext,.bannerimg{
        width: 100%;
    }
    .bannertext h1{
        font-size: 36px;
        width: 60%;
        line-height: 120%;
    }
    .bannertext span{
        font-size: 50px;
    }
    .bannertext>p{
        width: 85%;
    }
    .bannertext div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .join{
        padding: 15px 18px;
    }
    .bannerimg img{
        width: 100%;
    }
    .video{
        left: 0%;
        bottom: 40%;
        padding: 16px 18px;
    }
    .video h3{
        font-size: 18px;
    }
    .bannerimg p{
        font-size: 12px;
        margin-top: 5px;
    }
    .tutorial{
        top: 10%;
        right: 0%;
        padding: 16px 18px;
        
    }
    .tutorial h1{
        font-size: 30px;
        line-height: 30px;
    }
    .change{
        padding-top: 20px;
    }
    .change2{
        flex-direction: column;
        row-gap: 36px;
        width: 230px;
        margin: 0px auto;
    }
}